<div class="splash-screen2">
    <img style="margin:0 auto" height="500px" src="assets/img/1.png" alt="My App Logo">
    <div class="loading-spinner"></div>

</div>
<div class="splash-screen" style="text-align: center;">angular project educational for kids</div>

<body [hidden]="a">
    <div class="navbar">
        <ul>
            <li><a routerLink="/about"><img width="25" src="assets/img/2.svg" alt=""></a></li>
            <li><a routerLink="/services">game kids</a></li>
            <li><a routerLink="/contact"><img width="25" src="assets/img/menu.svg" alt=""></a></li>
        </ul>
    </div>


    <div class="grid-container">
        <div class="grid-item">
            <img src="assets/img/2.svg" alt="Image 1">
        </div>
        <div class="grid-item">
            <img src="assets/img/1.png" alt="Image 2">
        </div>
        <div class="grid-item">
            <img src="assets/img/2.png" alt="Image 3">
        </div>
        <div class="grid-item">
            <img src="assets/img/1.svg" alt="Image 4">
        </div>

    </div>
</body>