body,
ul,
li {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #dcdcdcd9;
    overflow: hidden;

}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.navbar a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    background-color: #444;
}

.navbar a.router-link-active {
    background-color: #555;
}








/* Reset default browser styles */
body,
ul,
li {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    gap: 15px; */
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 1500px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.grid-item {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.grid-item img {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}

.n {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

input {
    width: 320px;
    height: 30px;
    margin: 10px;
}

.splash-screen2 {
    display: flex;
}

.splash-screen {
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
}

.splash-screen2 img {
    width: 320px;
    height: 320px;
}